.card {
    text-decoration: none;
    color: #000;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.card:hover {
    box-shadow: 5px 5px 10px gray;
}

.card__body {
    background-color: rgb(246, 246, 239);
    border-radius: 10px;
    padding: 5px;
}

.card__title {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__author {
    margin: 0;
}

.card__date {
    margin: 0;
}

.card__score {
    margin: 0;
}

@media screen and (min-width: 767px) {
    .card__title {
        font-size: 28px;
    }

    .card__info {
        flex-direction: row;
        justify-content: left;
    }

    .card__author {
        margin-right: 10px;
    }

    .card__date {
        margin-right: 10px;
    }
}